.webapp-container-notoken-none {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.web-app-logo {
    padding: 0.5em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 3em;
    display: grid;
    grid-template-rows: auto auto;
}

.web-app-logo-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.web-app-logo > div > img {
    max-height: 100%;
    max-width: 100%;
}

.webapp-container-notoken-choosen {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
}

.webapp-choose-button {
    margin: auto;
    padding: 0.75em;
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    width: 100%;
}

.webapp-enter-info {
    margin: auto;
    --padding: 0.75em;
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.webapp-enter-info > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.webapp-enter-info > div > span {
    display: flex;
    flex-flow: column;
}

.webapp-choose-button > span:first-child {
    margin: auto;
    border: 1px solid var(--text-color);
    border-radius: 1.5em;
    padding: 0.5em;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

@media (orientation:landscape) {
    .webapp-container-notoken-none {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
    .web-app-logo {
        grid-column: 1 / 4;
    }
    .webapp-enter-info {
        grid-column: 1 / 4;

    }
    .webapp-container-notoken-choosen {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

@media (orientation:portrait) {
    .webapp-container-notoken-none {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
    }
    .webapp-container-notoken-choosen {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }
}

.webapp-server-status {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: xx-small;
    cursor: pointer;
}
