.eatery-admin-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.eatery-admin-photos, .eatery-admin-description {
    grid-column: span 2;
}
.eatery-admin-container {
    max-width: 100%;
}

.eatery-admin-tables-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    grid-column: span 2;
}

.eatery-admin-table-container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.eatery-admin-table-photos {
    grid-column: span 2;
}

.eatery-container {
    display: grid;
    /* Photo, description, price of all options*/
    grid-template-rows: 1fr auto auto auto;
    width: 10em;
    height: 13em;
    position: relative;
    overflow: hidden;
    --border: 1px dotted var(--text-color);
    border-radius: 5px;
    padding: 2px;
}
.eatery-name {
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.eatery-description {
    font-size: 80%;
    text-align: center;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
