.eatery-admin-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: auto;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
}

.eatery-admin-photos, .eatery-admin-description {
    grid-column: span 2;
}
.eatery-admin-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.eatery-admin-tables-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    grid-column: span 2;
}

.eatery-admin-table-container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.eatery-admin-table-photos {
    grid-column: span 2;
}

.eatery-container {
    display: grid;
    /* Photo, description, price of all options*/
    grid-template-rows: 1fr auto auto auto;
    width: 10em;
    height: 9em;
    position: relative;
    overflow: hidden;
    --border: 1px dotted var(--text-color);
    border-radius: 5px;
    padding: 2px;
}

.eatery-compact-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    --font-size: 170%;
    width: min-content;
}
.eatery-compact-photos {
    width: 5em;
    height: 4em;
}

.eatery-container.maximized {
    width: 20em;
    height: 15em;
    font-size: 120%;
}
.eatery-name {
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.eatery-description {
    font-size: 80%;
    text-align: center;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
