.meal-container {
    display: grid;
    /* Photo, description, price of all options*/
    grid-template-rows: 1fr auto auto;
    width: 10em;
    height: 12em;
    position: relative;
    overflow: hidden;
    --border: 1px dotted var(--text-color);
    border-radius: 5px;
    padding: 2px;
}

.maximized {
    width: 20em;
    height: 18em;
}

.meal-photos-container {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
    overflow: hidden;
}

.meal-photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.meal-meal-description {
    font-size: x-small;
    text-align: center;
}
.meal-photo-container > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin: auto;
    --object-fit: contain;
}
.meal-photos-scroll {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 0.5em;
}

.meal-photos-scroll > span {
    cursor: pointer;
}

.meal-meal-options {
    display: flex;
    font-size: small;
    justify-content: space-around;
}

.meal-meal-option {
    border-radius: 5px;
    border: 1px dotted var(--text-color);
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    gap: 2px;
    opacity: 0.3;
}

.meal-meal-option:hover, .selected {
    opacity: 1;
}

.meal-meal-option-volume {
    font-weight: bold;
}
.meal-meal-option-price {
    font-size: x-small;
}

.meal-meal-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    padding: 1px;
    --border: 1px solid var(--text-color);
    border-radius: 5px;
    opacity: 0.2;
    gap: 2px;
    color: var(--text-color);
    cursor: pointer;
}

.meal-meal-toolbar:hover {
    opacity: 1;
}

.meal-admin-container {
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    gap: 0.5em;
}

.meal-admin-requisites-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap:0.5em;
}

.meal-admin-photos-edit-container {
    width: 100%;
    display: flex;
}

.meal-admin-photos-list-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    max-height: 15em;
    justify-content: space-around;
    gap: 0.5em;
}

.meal-admin-photo-container {
    width: 8em;
    --height: 100%;
    display: block;
}

.meal-admin-photo-container > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin: auto;
}

.meal-admin-options-list-container {
    height: 100%;
    max-height: 15em;
    display: flex;
    justify-content: space-between;
}

.meal-admin-options-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}

.meal-admin-options-list > span {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: auto auto;
    gap: 0.5em;
}

.meal-admin-options-list > span > :first-child {
    --max-width: 9em;
    grid-column: 1 / 3;
}

.meal-admin-options-list > span > input {
    width: 100%;

}