.meal-container {
    display: grid;
    /* Photo, description, price of all options*/
    grid-template-rows: 1fr auto auto auto;
    width: 10em;
    height: 13em;
    position: relative;
    overflow: hidden;
    --border: 1px dotted var(--text-color);
    border-radius: 5px;
    padding: 2px;
}

.meal-container.maximized {
    width: 20em;
    height: 18em;
}

.meal-meal-description {
    font-size: x-small;
    text-align: center;
}
.meal-meal-name{
    text-align: center;
}

.meal-meal-options {
    display: flex;
    font-size: small;
    justify-content: space-around;
}

.meal-meal-option {
    border-radius: 5px;
    border: 1px dotted var(--text-color);
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    gap: 2px;
    opacity: 0.3;
}

.meal-meal-option:hover,.selected {
    opacity: 1;
}

.meal-meal-option-volume {
    font-weight: bold;
}
.meal-meal-option-price {
    font-size: x-small;
}

.meal-admin-container {
    max-height: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto;
    --overflow: hidden;
    gap: 0.5em;
}

.meal-admin-requisites-container {
    width: 100%;
    height: 100%;
    display: grid;
    --flex-flow: column;
    grid-template-columns: 1fr 1fr;
    gap:0.5em;
}

.meal-admin-requisites-description {
    grid-column: span 2;
}

.meal-admin-options-list-container {
    height: 100%;
    max-height: 15em;
    display: flex;
    justify-content: space-between;
}

.meal-admin-options-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}

.meal-admin-options-list > span {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: auto auto;
    gap: 0.5em;
}

.meal-admin-options-list > span > :first-child {
    --max-width: 9em;
    grid-column: 1 / 3;
}

.meal-admin-options-list > span > input {
    width: 100%;

}