.menu-admin-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.menu-admin-chapters-container {
    --grid-column: span 2;
}

.menu-admin-header {
    --grid-column: span 2;
}
.menu-admin-meals-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.menu-container {
    width: fit-content;
    height: min-content;
    overflow-y: auto;
    position: relative;
}

.menu-chapter-container {
    display: block;
}

.menu-chapter-items-container {
    display: flex;
    align-items: center;
}
