.menu-admin-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto 1fr;
    gap: .2em;
    overflow: auto;
    height: 100%;
    border: 1px solid;
    padding: .2em;
}

.menu-admin-chapters-container {
    grid-column: span 2;
}

.menu-admin-chapters-nav {
    display: flex;
    align-items: center;
    gap: .2em;
    padding: .1em;
    overflow-x: auto;
}

.menu-admin-chapters-nav > span, .menu-admin-chapters-nav > label {
    text-wrap: nowrap;

}
.menu-admin-view-focus-list {
    display: flex;
    gap:.2em;
}
.menu-admin-view-focus-list > span {
    border: 1px solid;
    cursor: pointer;
    padding-left: .2em;
    padding-right: .2em;
    display: flex;
    align-items: center;
    border-radius: .2em;
}
.menu-admin-view-focus-list > span.selected {
    color: var(--background-color);
    background-color: var(--text-color);
}
.menu-admin-meals-nav > span, .menu-admin-chapters-nav > span {
    cursor: pointer;
    padding: .1em;
    border: 1px solid;
    align-self: stretch;
    border-radius: .2em;
}

.menu-admin-chapters-nav > span.selected, .menu-admin-meals-nav > span.selected {
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--text-color);
}

.menu-admin-header {
    --grid-column: span 2;
}
.menu-admin-meals-container {
    grid-column: span 2;
}
.menu-admin-meals-nav {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    --overflow: auto;
}

.menu-container {
    --width: fit-content;
    --height: min-content;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    max-width: 100%;
    max-height: 100%;
}

.menu-toolbar-container {
    display: flex;
}

.menu-chapters-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap: .5em;
    padding: .5em;
    align-items: center;
}

.menu-chapters-nav > span {
    padding: .5em;
    border: 0px solid;
    border-radius: .5em;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.menu-chapters-nav > span.selected {
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--background-color);
}

.menu-chapter-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow: auto;
}

.menu-chapter-items-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.menu-chapter-items-list {
    overflow: auto;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5em;
}

.menu-compact-container{
    --font-size: 80%;
    --border: 1px solid;
    border-radius: .2em;
    padding: .1em;
    --height: fit-content;
    display: flex;
    gap: .2em;
}

.menu-compact-container > div {
    display: inline-block;
}
