.mlstring-editor-container {
    width: 100%;
    display: grid;
    gap: 0.5em;
    --font-size: 50%;
}

.mlstring-editor-default  {
    width: 100%;
    overflow: hidden;
}

.mlstring-editor-default > input, .mlstring-editor-value > input {

    width: 100%;
}

.mlstring-editor-value {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.5em;
    width: 100%;
    overflow: hidden;
}

.mlstring-editor-value-toolbar {
    cursor: pointer;
}