.guest-order-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.guest-order-compact-container {
    --:0;
}

.guest-order-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto min-content;
    overflow: auto;
    max-height: 100%;
    height: 100%;
    grid-auto-rows: max-content;
}

.guest-order-grid > div {
    border-right: 1px dotted;
    border-bottom: 1px dotted;
    padding: 2px;
    position: relative;
    display: flex;
    align-items: center;
}

.guest-order-grid > div:nth-child(5n+1) {
    border-left: 1px dotted;
}

.guest-order-grid > div:nth-child(5n+4) {
    justify-content: center;
}

.guest-order-grid > div:nth-child(5n+3), .guest-order-grid > div:nth-child(5n+5) {
    justify-content: right;
}

.guest-order-grid > div.canceled {
    text-decoration: line-through;
}

.guest-order-grid > div:nth-child(-n+5) {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    position:sticky;
    top: 0;
    background-color: var(--text-color);
    color: var(--background-color);
}
.guest-order-grid > div:nth-child(5n+4) {
    text-align: center;
}

.guest-order-item-progress-compact-container {
    display: inline-flex;
    flex-wrap: wrap;
    border: none;
    right: 0;
    bottom: 0;
    gap: 1px;
    align-items: center;
}
.guest-order-item-progress-compact-container > span {
    border-width: 1px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    border-style: dotted;
    font-size: 65%;
}
.guest-order-item-progress-compact-container > span.done {
    border-color: darkgreen;
    background-color: green ;
    color: white;
    border-style: solid;
}

.guest-order-item-progress-compact-container > span:not(.done) {
    cursor: pointer;
}

.guest-order-item-progress-compact-container > span.canceled {
    border-color: darkred;
    background-color: red;
    color: white;
    border-style: solid;
}

.guest-order-summary {
    display: grid;
    grid-template-columns: 1fr auto;
}

.guest-order-summary-order span.number {
    font-weight: bold;
    font-size: 150%;
}

.guest-order-summary-balance {
    display: grid;
    grid-template-rows: auto auto;
    gap: .5em;
    grid-template-columns: minmax(5em, auto) minmax(5em, auto);
}

.guest-order-summary-balance > div:first-child {
    grid-column: span 2;
}

.guest-order-summary-balance > div:first-child>div:last-child {
    font-size: 200%;
}
.guest-order-item-feedback-container {
    width: 100%;

}

.guest-order-item-feedback-container textarea {
    width: 100%;
}

.guest-order-normal-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: .2em;
    gap: .5em;
    box-shadow: 0 0 1em silver;
    padding: .2em;
    width: 100%;
    height: max-content;
}

.guest-order-normal-container .total {
    font-size: 200%;
    font-weight: bold;
}

.guest-order-normal-container .date {
    font-weight: bold;
    font-size: 80%;
}

.guest-order-normal-container .number {
    font-weight: bold;
    font-size: 150%;
}

.guest-order-history {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em;
}
.guest-order-history > span {
    border-bottom: 1px dashed;
}