.order-container, .order-compact-container {
    position: absolute;
    right: 0em;
    bottom: 0em;
    background-color: var(--background-color);
    padding: 1em;
    font-size: 80%;
}

.order-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    border-left: 1px solid;
    border-top: 1px solid;
    max-height: 50%;
    overflow: auto;
    --max-width: 67%;
}

.order-grid > div {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
    position: relative;
}

.order-grid > div.canceled {
    text-decoration: line-through;
}

.order-grid > div:nth-child(-n+6) {
    font-weight: bold;
    text-align: center;
}

.order-grid div:nth-child(1) {
    text-align: left;
    font-weight: normal;
}
.order-item-progress-compact-container {
    display: inline-flex;
    flex-wrap: wrap;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    gap: 1px;
}
.order-item-progress-compact-container > span {
    border-width: 1px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    border-style: dotted;
    font-size: 70%;
}
.order-item-progress-compact-container > span.done {
    border-color: darkgreen;
    background-color: green ;
    color: white;
    border-style: solid;
}

.order-item-progress-compact-container > span.canceled {
    border-color: darkred;
    background-color: red;
    color: white;
    border-style: solid;
}